<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>artable-dashboard</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
    <br>
    <footer class="footer">
      <div class="container is-fluid">
        <div class="content has-text-centered">
          <p>
            <img id="logo" src="static/URLogo.png" style="max-width: 50%;" alt="university of rochester">
          </p>
          <p>
            <strong>AR Table Dashboard</strong> by <a class="open-in-browser" href="http://thewhitelab.org">The Whitelab</a> at
            <a class="open-in-browser" href="https://rochester.edu"> University of Rochester</a>
          </p>
        </div>
      </div>
    </footer>
    <script>
      var shell = require('electron').shell
      document.querySelectorAll('.open-in-browser').forEach((e) => {
          e.onclick = (event) => {
            event.preventDefault()
            shell.openExternal(event.target.href)
          }
      })
    </script>

</html>
